@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-5">Hoşgeldiniz Fitness Center Uygulamasına</h1>
    <p class="lead">Salonları, Hizmetleri, Eğitmenleri ve Randevuları yönetmek için paneli kullanın.</p>

    <a asp-controller="Service" asp-action="Index" class="btn btn-primary mt-3">
        Hizmetlere Git
    </a>
</div>
